<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/figma.css" />
  </head>
  <body>
    <div class="page">
      <div class="top-bar">
        <!--ロゴのサイズを大きく -->
        <img class="ic-search" src="/static/images/seekunknown.png" />  
        <div class="title">Seek the unknown</div>
        <div class="navbar">
          <div class="tab">Home</div>
          <div class="tab">About</div>
          <div class="tab">Questions</div>
          <div class="tab">Word Generation Graph</div>
          <div class="textfield">
            <div class="text">Search in site</div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="avatar"></div>
        <div class="container">
          <div class="text-wrapper">Welcome to our Platform!</div>
          <p class="description">Get answers to cutting-edge science and technology questions from experts or AI.</p>
        </div>
        <div class="button">
          <div class="seconday"><div class="div">Browse Categories</div></div>
          <div class="primary"><div class="div">Ask Question</div></div>
        </div>
        <img class="vector" src="img/vector-200-4.svg" />
      </div>
      <div class="div-2">
        <div class="image-container"><div class="image"></div></div>
        <div class="container-2">
          <div class="container-3">
            <div class="title-2">User Feedback</div>
            <p class="p">See what our users say about the platform.</p>
          </div>
          <div class="list">
            <div class="row">
              <div class="card">
                <div class="user">
                  <div class="avatar-2">
                    <div class="avatar-3"></div>
                    <div class="frame"><div class="title-3">ScienceGeek101</div></div>
                  </div>
                  <img class="img" src="img/frame-427318817.svg" />
                </div>
                <p class="title-4">Great resource for tech enthusiasts</p>
              </div>
              <div class="card">
                <div class="user">
                  <div class="avatar-2">
                    <div class="avatar-3"></div>
                    <div class="frame"><div class="title-3">TechWizard22</div></div>
                  </div>
                  <img class="img" src="img/frame-427318817-2.svg" />
                </div>
                <p class="title-4">Love the expert answers provided here</p>
              </div>
            </div>
          </div>
        </div>
        <img class="vector-2" src="img/vector-200-2.svg" />
      </div>
      <div class="form">
        <div class="container-4">
          <div class="title-2">Submit Your Question</div>
          <p class="p">Have a burning question? Ask our experts or AI!</p>
        </div>
        <div class="list-2">
          <div class="input-wrapper">
            <div class="input">
              <div class="title-5">Your Question</div>
              <div class="div-wrapper"><div class="text-2">Enter your question here</div></div>
            </div>
          </div>
          <div class="button-2">
            <div class="title-wrapper"><div class="title-6">Clear</div></div>
            <div class="primary-2"><div class="div">Submit Question</div></div>
          </div>
        </div>
        <img class="vector-3" src="img/vector-200.svg" />
      </div>
      <div class="div-3">
        <div class="container-5">
          <div class="container-4">
            <div class="title-2">Expert Answers</div>
            <p class="p">Explore answers provided by field experts.</p>
          </div>
          <div class="image-wrapper"><div class="image"></div></div>
        </div>
        <div class="list">
          <div class="row-2">
            <div class="article">
              <div class="image-container-2"><div class="image"></div></div>
              <div class="frame-2">
                <div class="title-7">Quantum Computing</div>
                <p class="p">Discover the latest developments in quantum computing.</p>
                <div class="selection">
                  <div class="label-normal"><div class="label-text">Computing</div></div>
                  <div class="label-normal"><div class="label-text">Quantum</div></div>
                </div>
                <div class="avatar-wrapper">
                  <div class="avatar-2">
                    <div class="avatar-4"></div>
                    <div class="frame"><div class="title-3">Dr. Quantum</div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="article-2">
              <div class="image-container-2"><div class="image"></div></div>
              <div class="frame-2">
                <div class="title-7">Artificial Intelligence</div>
                <p class="p">Deep dive into the advancements in AI technology.</p>
                <div class="selection">
                  <div class="label-text-wrapper"><div class="label-text">AI</div></div>
                  <div class="label-normal"><div class="label-text">Technology</div></div>
                </div>
                <div class="avatar-wrapper">
                  <div class="avatar-2">
                    <div class="avatar-4"></div>
                    <div class="frame"><div class="title-3">AI Insider</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="vector-4" src="img/image.svg" />
      </div>
      <div class="div-3">
        <div class="container-6"><div class="title-8">Popular Topics</div></div>
        <div class="row-wrapper">
          <div class="row">
            <div class="item">
              <div class="icon-wrapper"><div class="icon">🔬</div></div>
              <div class="frame-3">
                <div class="title-9">Nanotechnology</div>
                <div class="subtitle">Exploring the tiny world</div>
              </div>
            </div>
            <div class="item">
              <div class="icon-wrapper"><div class="icon">🤖</div></div>
              <div class="frame-3">
                <div class="title-9">Robotics</div>
                <div class="subtitle">Automation and innovation</div>
              </div>
            </div>
            <div class="item">
              <div class="icon-wrapper"><div class="icon">🚀</div></div>
              <div class="frame-3">
                <div class="title-9">Space Exploration</div>
                <div class="subtitle">Frontiers of the universe</div>
              </div>
            </div>
          </div>
        </div>
        <img class="vector-5" src="img/vector-200-5.svg" />
      </div>
      <img class="union" src="img/union.svg" />
      <div class="div-2">
        <div class="container-4"><div class="title-2">Top Liked Questions</div></div>
        <div class="list-3">
          <div class="row">
            <div class="item">
              <div class="icon-wrapper"><div class="icon">❓</div></div>
              <div class="frame-3">
                <p class="title-9">How will AI impact the future job market?</p>
                <div class="subtitle">Technology and employment</div>
              </div>
            </div>
            <div class="item">
              <div class="icon-wrapper"><div class="icon">❓</div></div>
              <div class="frame-3">
                <p class="title-9">What are the potential applications of CRISPR technology?</p>
                <div class="subtitle">Genetic engineering</div>
              </div>
            </div>
          </div>
        </div>
        <img class="vector-6" src="img/vector-200-6.svg" />
      </div>
      <div class="div-2">
        <div class="container-wrapper">
          <div class="container-7">
            <div class="title-7">Likes Summary</div>
            <div class="y-axis">Likes</div>
            <img class="graph" src="img/graph.svg" />
            <div class="x-axis">Questions/Answers</div>
          </div>
        </div>
        <div class="container-2">
          <div class="container-3">
            <div class="title-2">User Contributions</div>
            <p class="p">Track your contributions and likes to earn NFTs/Crypto!</p>
            <div class="button-3">
              <div class="title-wrapper"><div class="title-6">Learn More</div></div>
              <div class="primary-2"><div class="div">View My Wallet</div></div>
            </div>
          </div>
          <div class="row-wrapper">
            <div class="row-3">
              <div class="metric">
                <div class="title-10">Total Likes</div>
                <div class="data">36</div>
                <div class="change">+4</div>
              </div>
              <div class="metric">
                <div class="title-10">NFTs Earned</div>
                <div class="data">2</div>
                <div class="change">+1</div>
              </div>
            </div>
          </div>
        </div>
        <img class="vector-7" src="img/vector-200-3.svg" />
      </div>
    </div>
  </body>
</html>
